<div class="card" >
        <div class="card-image">
            <img [src]="obj1.photo" alt="Hotel Room">
        </div>
        <div class="card-content">
            <h2 class="card-title">{{obj1.tit}}</h2>
            
            <div class="card-meta">
                <span class="meta-item"><i class="fa-regular fa-calendar"></i> {{obj1.date}}</span>
                <span class="meta-item"><i class="fa-regular fa-comment"></i> {{obj1.loc}}</span>
				
            </div>

            <p class="card-description">
               {{obj1.des}}
            </p>

            <a href="https://www.facebook.com/share/p/1A8BtrkQFA/" class="read-more" target="_blank">READ MORE <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>